boris-CVI-projects
lab8vaknin
SerialCom2
FFT-1d
MultiThreding
Heart_Monitor_V1/Heart_Monitor_V1.zip
Heart_Monitor_V1/cvibuild.heart_monitor_v1/Debug/heart_monitor_v1.exe
Heart_Monitor_V1/heart_monitor_v1.exe
