#pragma code_page(65001)
#include "C:\Program Files (x86)\National Instruments\Shared\MSDTRedistributables\SDKHeaderFiles\8.1\winver.h"


2 24 "c:\\Users\\sixsi\\Code-Projects\\CVI_Projects\\Heart_Monitor_V1\\cvibuild.wav_handling\\Debug\\manifest.xml"


STRINGTABLE DISCARDABLE
BEGIN
  65535  ""
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Afeka College of Engineering\0"
            VALUE "FileDescription", "wav_handling (Debug x86)\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "InternalName", "wav_handling\0"
            VALUE "LegalCopyright", "Copyright  Afeka College of Engineering 2024\0"
            VALUE "OriginalFilename", "wav_handling.dll\0"
            VALUE "ProductName", "Afeka College of Engineering wav_handling\0"
            VALUE "ProductVersion", "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

CVIDLLexports CVIDLLprototypes
{
   "int find_data_chunk(struct FILE *fp, struct wav_header header);"
   "\n",
   "void free_wav_data(struct wav_file wav);"
   "\n",
   "struct wav_file get_wav_from_file(struct FILE *fp, struct wav_header wav_head);"
   "\n",
   "struct wav_header get_wav_header_from_file(struct FILE *fp);"
   "\n",
   "int is_extended_RIFF(struct wav_header header);"
   "\n",
   "unsigned char *read_wav_data(struct FILE *fp, struct wav_header wav, unsigned char *data);"
   "\n",
   "\0"
}

CVIDLLexports2 CVIDLLprototypes
{
}
